<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>User management system</title>
</head>
<body>
<div  class="container">
    <h1>User Management System</h1>
    <hr>
    <h2>Update User</h2>

    <form action="#" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}"
          method="POST">
        <!-- Add hidden form field to handle update -->
   <!--     <div class="mb-4">
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{userName}" class="form-control col-4">
        </div>-->
        <div class="mb-4">
                <label for="username">UserName:</label>
                <input type="text" th:field="*{userName}" id="username" placeholder="UserName" class="form-control col-4">
                <ul>
                    <li th:each="err : ${#fields.errors('userName')}" th:text="${err}" class="error" style="color: red" />
                </ul>
        </div>
        <div class="mb-4">
            <label for="password">Password:</label>
            <input type="text" th:field="*{password}" id="password" placeholder="Password" class="form-control col-4">
            <ul>
                <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error" style="color: red" />
            </ul>
        </div>
        <div class="mb-4">
            <label for="email">Email:</label>
            <input type="text" th:field="*{email}" id="email" placeholder="email" class="form-control col-4">
            <ul>
                <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error" style="color: red"/>
            </ul>
        </div>
        <div class="mb-4">
            <label for="email">Role:</label>
            <input type="text" th:field="*{role}" id="role" placeholder="role" class="form-control col-4">
            <ul>
                <li th:each="err : ${#fields.errors('role')}" th:text="${err}" class="error" style="color: red"/>
            </ul>
        </div>
        <button type="submit" class="btn btn-info col-2"> Update user</button>
    </form>
    <hr>
    <a th:href = "@{/}"> Back to User List</a>
</div>
</body>
</html>